<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>jx8BP98eyH5SJi9+hYk+5tjsD+ty2jJGzX7IeY1L48U3t7mg1AMGCWWhfW/QUYc9duP0+pNBfTBvd8aLt02Is+wwv14l0iTF/TT70ZUhr+lNCxXiOii82JFk9XinwoBFN2+WQjmkoRZ5m6CHNxfUzXlP2a2Xg8+odimv0653+wI=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>lk5UL7UgOABmZFksNpIzSl/PSXAVaw+/IOyPhNuIYmcUyveKEQbV23yqZ1fegrESB+VWZbU8jZOKb9e//dGKwIn9hWgPbGRfajwiWrP6jjSQY7Q8gAlHV2OJi4juCBcHU/DD9VJ3rBZYIa0jk0iqoszyr4fSx7b4pNO+BOzuxu1CWyiTHuAYPhJdNAxiJYAgmzJd+JCGK0wY4YN7C6slC8XVE34Hk5FB0t0ccEMs2qDQLgxIWHRCfbDfdNZNVXkuuXkoh3pwwqd7/+0CUzuN+QqWivPyBSuHv17n6G5XlXc=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>